<div class="card border-primary mb-3">
  <div class="card-header">Registros</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de Registros</h5>
    <div class="my-2 text-left">
      <button type="button" class="btn btn-rounded btn-primary" [routerLink]="['/add']">
        Crear Registro
      </button>
    </div>
    <div *ngIf="registros?.length == 0" class="alert alert-info">
      No hay registros en la base de datos!
    </div>
    <form>
      <table class="table table-bordered table-striped" *ngIf="registros?.length>0">
        <thead>
          <tr>
            <th>Seleccionar</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Procesado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let registro of registros">
            <td>
              <input type="checkbox" class="cambiar" [value]="registro.id" name="checks">
            </td>
            <td>{{ registro.nombre }}</td>
            <td>{{ registro.apellido }}</td>
            <td>
              <button type="button" (click)="procesar(registro)"
                  class="btn {{ registro.procesado ? 'btn-success':' btn-danger' }} btn-sm">
                {{ registro.procesado ? 'Procesado':'No procesado' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-rounded btn-success ml-2"
          (click)="cambiarEstados()"
          title="Cambiará el estado del proceso de los elementos seleccionados">
        PROCESAR
      </button>
    </form>
  </div>
</div>
