<div class="card">
  <div class="card-header">
    Nuevo Registro
  </div>
  <div class="card-body">
    <form #registroForm="ngForm">
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
        <input id="nombre" name="nombre" type="text"
            [(ngModel)]="registro.nombre"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Apellido</span>
        <input id="apellido" name="apellido" type="text"
            [(ngModel)]="registro.apellido"
            class="form-control"
            aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
            <input type="hidden" id="procesado" name="procesado" value="false"/>
      </div>

      <div class="input-group mb-3">
        <button id="add" type="button" (click)='addRegistro()' class="btn btn-warning"
          [disabled]="!registroForm.form.valid">Añadir Registro</button>
      </div>
    </form>
  </div>
</div>



